/* Copyright by Soumya Krishnamurthy. This is the  style sheet that is added as part of the first project for 
Udacity nanodegree program. All parts of the code are original.  */

/* Style for the blogpost page */

@import url(new-navigation.css);
@import url(navigation.css);
@import url(blogpost.css);
@import url(footer.css);

#flex-container-experiences {
    grid-row: row 3;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
  }
  
  #flex-container-desc {
    grid-row: row 4;
    display: flex;
    flex-direction: row wrap;
    justify-content: center; 
  }
  
  #flex-container-practical {
    grid-row: row 5;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
  }

.blog-header {
    grid-column: col 1/ span 4;
    grid-row: row 1;
    padding: 35px;
    text-align: center;
    color: #222;
    background-image: url(./../images/antartica.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

#blog-title {
    grid-column: center-start / center-end;
    grid-row: 2 / -1;
    display: inline-block;
    padding: 1rem 2rem;
    color: rgba(43, 43, 9, 0.164);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 4rem;
    text-align: center; 
}

#blog-title-text {
    color: #000522;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 12rem;
}

.blog-body {
    background-image: url("../images/star-bg.svg");
    margin: 100px;
    font-weight: 100;
}

.blog-body p {
    font-family: "Lato";
    font-weight: 100;
    font-size: 30px;
    color: rgb(58, 57, 57);
    text-decoration: none;
}

.blog-desc {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 2rem;
}

.blog-desc-title h3{
    font-size: 25px;
    font-weight: 300;
    color: rgb(58, 57, 57);
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}

.blog-desc p{
    font-family: "Lato";
    font-weight: 100;
    font-size: 20px;
    color: rgb(58, 57, 57);
    text-decoration: none;
}

.blog-body h2{
    font-family: "Lato";
    font-weight: 200;
    color: rgb(40, 40, 133);
    font-size: xx-large;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 4rem;
    text-align: center;
}

.post-card {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 2rem;
    text-align: center;
}

.post-card p {
    font-family: "Lato";
    font-weight: 100;
    font-size: 25px;
    color: rgb(58, 57, 57);
    text-decoration: none;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height:200px;
    
  }
  
div.desc {
    padding: 15px;
    font-family: cursive;
    text-align: center;
  }

 /* Responsive layout for medium Screens: default is larger screens */
@media (min-width: 600px) and (max-width:900px){
#blog-title-text {
    font-size: 2rem;
    font-weight: 200; }

.blog-body {
    margin: 50px; }

.blog-desc {
    margin-left: 2rem;
    margin-right: 2rem; }

.blog-desc p{
    font-size: 20px; }

.post-card {
    margin-left: 2rem;
    margin-right: 2rem; }

.post-card p {
    font-size: 25px; }
}
        
/* Responsive layout for small Screens: default is larger screens */  
@media only screen and (max-width: 600px) {
#blog-title-text {
    font-size: 2rem;
    font-weight: 100; }

.blog-body {
    margin: 20px; }

.blog-desc {
    margin-left: 1rem;
    margin-right: 1rem; }

.blog-desc p{
    font-size: 16px; }

.post-card {
    margin-left: 1rem;
    margin-right: 1rem; }
        
.post-card p {
    font-size: 20px; }
}

