/* Copyright by Soumya Krishnamurthy. This is the  style sheet that is added as part of the first project for 
Udacity nanodegree program. All parts of the code are original.  */

/* Styles for the flex containers used in index.html*/

#flex-container-weekend {
  grid-row: row 3;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

#flex-container-offbeatenpath {
  grid-row: row 4;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

#flex-container-adventure {
  grid-row: row 5;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

/* Responsive layout for medium Screens: default is larger screens */
@media (min-width: 600px) and (max-width:900px){
#flex-container-weekend {
  flex-direction: column; }
  
#flex-container-offbeatenpath {
  flex-direction: column; }
  
#flex-container-adventure {
  flex-direction: column; }
}

/* Responsive layout for small Screens: default is larger screens */  
@media only screen and (max-width: 600px) {
#flex-container-weekend {
  flex-direction: column; }
  
#flex-container-offbeatenpath {
  flex-direction: column; }
  
#flex-container-adventure {
  flex-direction: column; }
}

