/* Copyright by Soumya Krishnamurthy. This is the  style sheet that is added as part of the first project for 
Udacity nanodegree program. All parts of the code are original.  */

/* Styles for the flex containers used in index.html*/

#flex-container-weekend {
  grid-row: row 3;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

#flex-container-offbeatenpath {
  grid-row: row 4;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

#flex-container-adventure {
  grid-row: row 5;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

