
/* Style for the header */
.heading {
    grid-column: col 1/ span 4;
    grid-row: row 1;
    border-radius: 5px;
    padding: 35px;
    text-align: center;
    color: #222;
    background-image:linear-gradient(
        to right bottom,
        rgba(226, 241, 229, 0.158),
        rgba(59, 55, 47, 0.25)), url(./../images/header.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

.title {
    margin-top: 4rem;
    text-align: center;
    font-size: 2.3rem;
    grid-column: center-start / center-end;
    grid-row: 2 / -1;
}

.title-text {
    color: #000522;
    margin-top: 12rem;
    font-weight: 400;
}
