@import url(heading.css);
@import url(new-navigation.css);
@import url(navigation.css);
@import url(blogpost.css);
@import url(card.css);
@import url(containers.css);
@import url(footer.css);

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

body {
    background-image: url("../images/star-bg.svg");
    background-color:rgb(2, 2, 20);
    margin: 100px;
    border-radius: 10px;
    color: wheat;
    font-family: sans-serif;
    font-weight: 200;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(2, [row] auto );
    border-radius: 10px;
} 








